[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pdfcombiner"]
	path = pdfcombiner
	url = https://github.com/stevechoy/pdfcombiner
